@import url(font.css);

:root{
  --primary-color: #00498D;
  --secondary-color: #00C48C;
  --primary-text-color: #494A4A;
  --secondary-text-color: #B4B4B4;
  --primary-bg-color: #f5f9fb;
  --secondary-bg-color: #fff;
  --primary-font: 'Proxima Nova';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #00498D #E4E4E4;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #E4E4E4;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #00498D;
}

::-webkit-scrollbar-thumb:hover {
  background: #00498D;
}

html{
  max-width: 100vw;
  height: 100%;
}

.content{
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 7px;
  max-height: 85vh;
  height: 100%;
}

.header__left-side{
  display: flex;
  align-items: center;
}
.header__left-side p{
  margin-bottom: 0;
}

body{
  background: var(--primary-bg-color);
  font-family: var(--primary-font);
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.main{
  height: 100%;
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__header{
  padding: 7px 27px 0 20px;
}

.header__list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  width: 640px;
}

.header__link{
  max-width: 122px;
  width: 100%;
  height: 26px;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 0 3px;
  cursor: pointer;
}

.header__link.active{
  background: var(--primary-color);
  color: var(--primary-bg-color);
  border: 1px solid var(--primary-color);
}

.header__right-side{
  display: flex;
  align-items: center;
}

.header__dropdown__button{
  height: 32px;
  width: 207px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--secondary-bg-color);
  border-radius: 6px;
  color: var(--secondary-text-color);
}

.header__dropdown__button:hover{
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header__btn{
  background: var(--secondary-color);
  color: var(--secondary-bg-color);
  width: 108px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  border: none;
  border-radius: 6px;
}

.header__btn:hover{
  color: var(--secondary-bg-color);
}

.sidebar__bottom__btn{
  display: flex;
  align-items: center;
  width: 204px;
  height: 51px;
  border: none;
  background: var(--secondary-bg-color);
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.sidebar__bottom__btn__icon{
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 18px;
}

.sidebar__bottom__btn__p{
  margin-bottom: 0;
  color: #1A051D;
  font-size: 14px;
}

.sidebar__content{
  background: var(--secondary-bg-color);
  border-radius: 6px;
  padding: 15px 21px;
  height: 100%;
  margin-bottom: 11px;
}

.sidebar__content__title{
  color: var(--primary-text-color);
}

.sidebar__content__item{
  background: var(--primary-bg-color);
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 17px 20px;
}

.sidebar__content__item__label{
  margin-bottom: 0;
  margin-right: 12px;
  color: #8B8B8B;
  font-size: 12px;
  cursor: pointer;
}

.sidebar__content__item__input{
  max-width: 263px;
  width: 100%;
  height: 28px;
  border-radius: 6px; 
  border: 1px solid #E4E4E4;
  padding-left: 10px;
}

.sidebar__content__item__input:focus{
  outline: none;
}

.sidebar__content__item__input::placeholder{
  color: #000;
  font-size: 14px;
}

.sidebar__content__item__form{
  margin-top: 12px;
}

.input__eye{
  position: absolute;
  right: 65px;
  cursor: pointer;
}

.right-side{
  height: calc(100% - 70px);
}

.content__item{
  padding: 0 15px 0 20px;
}

.content__item__block{
  height: 34px; 
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 13px;
}
.content__item__block.col{
  width: max-content;
}

.content__title{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #494A4A;
  max-width: 150px;
  width: 100%;
  margin-bottom: 0;
}

.content__item__input.big{
  max-width: 100%;
  width: 100%;
}

.content__item__input{
  max-width: 100%;
  width: 100%;
  height: 32px;
  margin-left: 10px;
  background: #FFFFFF;
  border-radius: 6px;
  border: none;
  padding-left: 19px;
  padding-right: 19px;
  color: #494A4A;
}

.content__item__input:focus{
  outline: none;
}

.content__item__input::placeholder{
  color: #494A4A;
  font-size: 13px;
}

.content__item__p{
  margin-bottom: 0;
  text-align: center;
  padding: 0 12px;
}

.content__item__btn{
  background: var(--primary-color);
  color: var(--secondary-bg-color);
  max-width: 172px;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-align: center;
}

.content__item__btn:hover{
  color: var(--secondary-bg-color);
  text-decoration: none;
}

.content__item__block.end{
  justify-content: flex-end;
}

/* ------------------------------------------------------------------
---------------------------------Checkbox----------------------------
------------------------------------------------------------------ */


.mycheckbox{
  width: 27px;
  height: 27px;
  border: none;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 27px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 27px;
  width: 27px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 6px;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 1px solid #E4E4E4;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 8.4px;
  top: 4px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #B4B4B4;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8.4px;
  top: 4px;
  width: 8px;
  height: 14px;
  border: solid #B4B4B4;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #B4B4B4;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);  
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity:0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

@media (max-width:1350px){
  .header__list{
    width: 500px;
  }
}

@media (max-width:1200px){
  .header__list{
    width: 640px;
  }
  html{
    height: max-content;
  }

  body{
    height: max-content;
    overflow: auto;
  }

  .right-side{
    margin-top: 50px;
  }
}

@media (max-width:1024px){
  .header__list{
    width: 500px;
  }
}

@media (max-width:846px){
  .header{
    flex-direction: column;
    margin-bottom: 15px;
  }

  .header__left-side{
    margin-bottom: 25px;   
  }
}